lab7/aspMVClab6/WcfClientWindowsForm/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52927/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhoneRepository.Models" />
  <xs:element name="GetDist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhoneRepository.Models" minOccurs="0" name="GetDistResult" nillable="true" type="q1:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PhoneRepository.Models" minOccurs="0" name="contact" nillable="true" type="q2:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDictResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PhoneRepository.Models" minOccurs="0" name="contact" nillable="true" type="q3:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdDictResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PhoneRepository.Models" minOccurs="0" name="contact" nillable="true" type="q4:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDictResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>